[submodule "modules/apache"]
	path = modules/apache
	url = git@github.com:puppetlabs/puppetlabs-apache.git
[submodule "modules/concat"]
	path = modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git@github.com:puppetlabs/puppetlabs-mysql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "modules/phpmyadmin"]
	path = modules/phpmyadmin
	url = git@github.com:frastel/puppet-phpmyadmin.git
[submodule "modules/puppet-jenkins"]
	path = modules/puppet-jenkins
	url = git@github.com:jenkinsci/puppet-jenkins.git
