[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = git://github.com/nesi/puppet-git.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/java"]
	path = puppet/modules/java
	url = git@github.com:puppetlabs/puppetlabs-java.git
[submodule "puppet/modules/jenkins"]
	path = puppet/modules/jenkins
	url = git@github.com:jenkinsci/puppet-jenkins.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = git@github.com:puppetlabs/puppetlabs-nodejs.git
[submodule "puppet/modules/mailcatcher"]
	path = puppet/modules/mailcatcher
	url = git@github.com:actionjack/puppet-mailcatcher.git
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
